:root {
  --font-base: ComicNeue-Bold;
  --color-base: lightblue;
  --color-second: blue;
  --color-highlight: #2288bf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

ul {
  list-style: none;
}
