:root {
  --font-comic-bolt: ComicNeue-Bold;
  --font-comic-boltit: ComicNeue-BoldItalic;
  --font-comic-it: ComicNeue-Italic;
  --font-comic-li: ComicNeue-Light;
  --font-comic-liit: ComicNeue-LightItalic;
  --font-comic-reg: ComicNeue-Regular;
  --color-base: rgb(218, 244, 253);
  --color-second: rgb(6, 6, 57);
  --color-highlight: #f33636;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--color-base);
  font-family: var(--font-comic-bolt);
  width: 100vw;
  color: rgb(30, 30, 30);
  padding: 0 1rem;
}

li {
  text-decoration: none;
}

p {
  margin: 1rem 0;
}
