:root {
  --font-comic-bolt: ComicNeue-Bold;
  --font-comic-boltit: ComicNeue-BoldItalic;
  --font-comic-it: ComicNeue-Italic;
  --font-comic-li: ComicNeue-Light;
  --font-comic-liit: ComicNeue-LightItalic;
  --font-comic-reg: ComicNeue-Regular;
  --font-tiro-it: TiroDevanagariMarathi-Italic;
  --font-tiro-reg: TiroDevanagariMarathi-Regular;
  --color-base: rgb(218, 244, 253);
  --color-second: rgb(6, 6, 57);
  --color-highlight: #2288bf;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

body {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-base);
  width: 100vw;
  background-color: lavender;
  font-family: "Roboto", sans-serif;
  color: rgb(30, 30, 30);
}

li {
  text-decoration: none;
}

p {
  margin: 1rem 0;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2rem;
}

.profile-header {
  display: flex;
  justify-items: center;
  align-items: center;
}

.profile-image {
  width: 100px;
  margin-right: 1rem;
  border-radius: 1rem;
}
