header {
  display: flex;
  background-color: var(--color-base);
  width: 100%;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

h1 {
  font-family: var(--font-comic-bo);
  color: var(--color-second);
}
